pipeline/pl_copydata_dataflow.json
{
	"name": "pl_copydata_dataflow",
	"properties": {
		"activities": [
			{
				"name": "getfilenames_copy2",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "allfileslocation",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1_copy1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getfilenames_copy2",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getfilenames_copy2').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "get_filenames_copy1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "singlefilename",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "get_filenames_copy1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@split(item().name,'.')[0]",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "source",
										"activities": [
											{
												"name": "Copy data2",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@variables('singlefilename')",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false,
														"tableOption": "autoCreate",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"type": "String",
																	"ordinal": 1
																},
																"sink": {
																	"name": "Column1",
																	"type": "String",
																	"physicalType": "String"
																}
															},
															{
																"source": {
																	"type": "String",
																	"ordinal": 2
																},
																"sink": {
																	"name": "Column2",
																	"type": "String",
																	"physicalType": "String"
																}
															},
															{
																"source": {
																	"type": "String",
																	"ordinal": 3
																},
																"sink": {
																	"name": "Column3",
																	"type": "String",
																	"physicalType": "String"
																}
															},
															{
																"source": {
																	"type": "String",
																	"ordinal": 4
																},
																"sink": {
																	"name": "Column4",
																	"type": "String",
																	"physicalType": "String"
																}
															},
															{
																"source": {
																	"type": "String",
																	"ordinal": 5
																},
																"sink": {
																	"name": "Column5",
																	"type": "String",
																	"physicalType": "String"
																}
															},
															{
																"source": {
																	"type": "String",
																	"ordinal": 6
																},
																"sink": {
																	"name": "Column6",
																	"type": "String",
																	"physicalType": "String"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "allfileslocation",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "DS_Sqlserver_dbo_source",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "split",
										"activities": [
											{
												"name": "Copy data3",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": {
																"value": "@variables('singlefilename')",
																"type": "Expression"
															},
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false,
														"tableOption": "autoCreate",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"type": "String",
																	"ordinal": 1
																},
																"sink": {
																	"name": "Column1",
																	"type": "String",
																	"physicalType": "String"
																}
															},
															{
																"source": {
																	"type": "String",
																	"ordinal": 2
																},
																"sink": {
																	"name": "Column2",
																	"type": "String",
																	"physicalType": "String"
																}
															},
															{
																"source": {
																	"type": "String",
																	"ordinal": 3
																},
																"sink": {
																	"name": "Column3",
																	"type": "String",
																	"physicalType": "String"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "allfileslocation",
														"type": "DatasetReference"
													}
												],
												"outputs": [
													{
														"referenceName": "sql_split_table",
														"type": "DatasetReference"
													}
												]
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"singlefilename": {
				"type": "String"
			}
		},
		"annotations": []
	}
}