pipeline/ppl_conditions.json
{
	"name": "ppl_conditions",
	"properties": {
		"activities": [
			{
				"name": "getfilenames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "allfileslocation",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getfilenames",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getfilenames').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "get_filenames",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().name,'product.csv')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFileName": {
														"value": "@variables('singlefilename')",
														"type": "Expression"
													},
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate",
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"type": "String",
															"ordinal": 1
														},
														"sink": {
															"name": "ProductID",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 2
														},
														"sink": {
															"name": "Name",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 3
														},
														"sink": {
															"name": "ProductNumber",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 4
														},
														"sink": {
															"name": "Color",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 5
														},
														"sink": {
															"name": "StandardCost",
															"type": "Decimal",
															"physicalType": "money",
															"scale": 4,
															"precision": 19
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 6
														},
														"sink": {
															"name": "ListPrice",
															"type": "Decimal",
															"physicalType": "money",
															"scale": 4,
															"precision": 19
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 7
														},
														"sink": {
															"name": "Size",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 8
														},
														"sink": {
															"name": "Weight",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 2,
															"precision": 8
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 9
														},
														"sink": {
															"name": "ProductCategoryID",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 10
														},
														"sink": {
															"name": "ProductModelID",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 11
														},
														"sink": {
															"name": "SellStartDate",
															"type": "DateTime",
															"physicalType": "datetime"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 12
														},
														"sink": {
															"name": "SellEndDate",
															"type": "DateTime",
															"physicalType": "datetime"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 13
														},
														"sink": {
															"name": "DiscontinuedDate",
															"type": "DateTime",
															"physicalType": "datetime"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 14
														},
														"sink": {
															"name": "ThumbNailPhoto",
															"type": "Byte[]",
															"physicalType": "varbinary"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 15
														},
														"sink": {
															"name": "ThumbnailPhotoFileName",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 16
														},
														"sink": {
															"name": "rowguid",
															"type": "Guid",
															"physicalType": "uniqueidentifier"
														}
													},
													{
														"source": {
															"type": "String",
															"ordinal": 17
														},
														"sink": {
															"name": "ModifiedDate",
															"type": "DateTime",
															"physicalType": "datetime"
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "allfileslocation",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "DS_SqlServer_SalesLT_Product",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						},
						{
							"name": "get_filenames",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "singlefilename",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"singlefilename": {
				"type": "String"
			}
		},
		"annotations": []
	}
}